@gray40: #666666;
@white: #fff;
@input_font_size: 5vh;

#custom-search-input {
	padding: 3px;
	border-bottom: solid 2px #E4E4E4;
    /* border-radius: 6px; */
    /* background-color: #fff; */
	input {
		border: 0;
    	box-shadow: none;
    	background: transparent;
    	border: none;
		color: @white;
		font-size: @input_font_size;
		font-family:'Raleway', sans-serif;
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		font-size: @input_font_size;
		color: @white;		
	  }
	::-moz-placeholder { /* Firefox 19+ */
		font-size: @input_font_size;
		color: @white;
	  }
	:-ms-input-placeholder { /* IE 10+ */
		font-size: @input_font_size;
		color: @white;
	  }
	:-moz-placeholder { /* Firefox 18- */
		font-size: @input_font_size;
		color: @white;
	  }

	button {
		margin: 2px 0 0 0;
		background: none;
		box-shadow: none;
		border: 0;
		color: @gray40;
		padding: 15px 0 10px 10px;
	}
	.glyphicon-search {
		color: @white;
	}

	.searchIcon{
		font-size: @input_font_size;
		color: @white;	
	}
}
